/* Functional */
[data-template] {
    display: none;
}

/* General */
a {
    color: #8989a7;
}
body,
html {
    margin:0;
    padding:0;
    width: 500px;
}
input,
button,
a.button {
    box-sizing: border-box;
    height: 30px;
    border-radius: 10px;
    line-height: 1em;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
p.error {
    color: red;
}
button,
a.button {
    display: inline-block;
    width: auto;
    min-width: 30px;
    padding: 5px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
button:hover,
a.button:hover {
    cursor: pointer;
}

input { outline: none; }
button,
a.button,
a.col {
    outline: 0;
    background-color: #efefef;
    border: 1px solid #efefef;
    color: #444;
    text-decoration: none;
}
button:hover,
a.button:hover,
a.col:hover {
    background-color: #666;
    border: 1px solid #999;
    color: #fff;
    cursor: pointer;
}
button:focus,
a.button:focus,
a.col:focus {
    background-color: #ddd;
    border: 1px dashed #222;
}

/* Grid */
.col {
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0;
    padding: 0;

    width: 100%;
}
.col5  { width: 5%; }
.col10 { width: 10%; }
.col15 { width: 15%; }
.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col35 { width: 35%; }
.col40 { width: 40%; }
.col45 { width: 45%; }
.col50 { width: 50%; }
.col55 { width: 55%; }
.col60 { width: 60%; }
.col65 { width: 65%; }
.col70 { width: 70%; }
.col75 { width: 75%; }
.col80 { width: 80%; }
.col85 { width: 85%; }
.col90 { width: 90%; }
.col95 { width: 95%; }

/******************************
 * Components
 ******************************/

/* Sections */
.section {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.header,
.footer {
    background: #333;
    color: #fff;
}

/* Header */

.header h1 {
    margin: 0;
}

.header input {
    border-radius: 10px 0 0 10px;
    float: left;
    width: 80%;
}

.header button {
    width: 20%;
    border-radius: 0 10px 10px 0;
}

/* Main */
.main {
    min-height: 150px;
    max-height: 350px;
    overflow: auto;
}
.main input {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    padding: 5px;
}

/* Helpers */
.o-25 {opacity: .25}
.o-50 {opacity: .50}
.o-75 {opacity: .75}

.f-rt {float: right}
.f-lf {float: left}

.t-rt {text-align: right}
.t-ct {text-align: center}
.t-lf {text-align: left}

.p-all {padding: 5px}
.p-rt {padding-right: 5px}
.p-lf {padding-left: 5px}
.p-tp {padding-top: 5px}
.p-bt {padding-bottom: 5px}

.m-all {margin: 5px}
.m-rt {margin-right: 5px}
.m-lf {margin-left: 5px}
.m-tp {margin-top: 5px}
.m-bt {margin-bottom: 5px}

small,
.t-xs {font-size: .6em; line-height: 0.6em;}
.t-sm {font-size: 0.8em; line-height: 0.8em;}
.t-lg {font-size: 1.2em; line-height: 1.2em;}
.t-xl {font-size: 1.4em; line-height: 1.4em;}
